// utility
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-link {
    color: $azzurro_scuro_section;
}

// margin
// margin bottom
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

// margin top
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

// margin left
.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

// margin right
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

// 12 bool
.container {
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.btn {
    padding: 8px 30px;
    font-size: 1.1em;
}

.btn-black {
    background: $nero_btn;
    color: $bianco_txt;
    border: 2px solid $nero_btn;
}

.btn-transparent {
    background: none;
    color: $nero_txt;
    border: 2px solid $nero_btn;
}

.btn-white {
    background: #fff;
    color: $nero_txt;
    border: 2px solid #fff;
}