main {
    section {
        background: $main_bg;
        padding-top: 40px;
    }
}

.section-big-title {
    font-weight: 400;
    font-size: 1.75em;
}

.card-container {
    // width: 100%;
    padding: 0 15px;
    .card-image {
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    .card-description {
        padding: 25px;
        display: flex;
        flex-direction: column;
        background: #fff;

        .card-description-title {
            font-weight: 500;
        }

        span {
            margin-bottom: 15px;
        }
    }
}

.section-background {
    display: flex;
    flex-direction: column;
    height: 325px;
    &.purple {
        background: $viola_section;
        color: $bianco_txt;
        padding: 50px 50px;
    }
    &.grey {
        background: $grigio_scuro_section;
        color: $bianco_txt;
        padding: 50px 50px;
    }
    &.azzurro {
        background: $azzurro_scuro_section;
        color: $bianco_txt;
        padding: 50px 50px;
    }
    .section-title {
        font-size: 1.5em;
        font-weight: 500;
    }
    .section-text {
        font-size: 1.25em;
        font-weight: 300;
    }
}

.section-background {
    &.purple-img {
        background: url('../img/bg-section-2.1.jpg');
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &.grey-img {
        background: url('../img/bg-section-2.2.jpg');
        background-size: cover;
    }
    &.azzurro-img {
        background: url('../img/bg-section-2.3.jpg');
        background-size: cover;
    }
    img {
        height: 80%;
    }
}