main {
    section {
        background: $main_bg;
        padding: 40px 0;
    }
}

.section-title {
    font-weight: 400;
    font-size: 1.5em;
}

.card-container {
    // width: 100%;
    padding: 0 15px;
    .card-image {
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    .card-description {
        padding: 25px;
        display: flex;
        flex-direction: column;
        background: #fff;

        .card-description-title {
            font-weight: 400;
        }

        span {
            margin-bottom: 15px;
        }
    }
}