nav {
    background-color: $nav_bg;
    color: $bianco_txt;
    font-size: 0.75em;
    .navbar-top {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        ul {
            list-style: none;
            display: flex;
            li {
                padding: 0 10px;
                i {
                    color: $azzurro_txt;
                }
                span {
                    color: $grigio_chiaro_txt;
                }
            }
        }
    }
    .navbar-bottom {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        ul {
            img {
                height: 25px;
                vertical-align: middle;
            }
            list-style: none;
            display: flex;
            align-items: center;
            li {
                color: $bianco_txt;
                padding: 0 20px;
            }
        }
    }
}