// colori di background
$nav_bg: #000;
$main_bg: #E8E8E8;
$footer_bg: #1E1E1E;

$viola_section: #3C1567;
$grigio_scuro_section: #3C3C3C;
$azzurro_scuro_section: #0072BC;

// colori di testo
$azzurro_txt: #009CFF;
$fucsia_txt: #C900B5;
$grigio_chiaro_txt: #898A8C;
$bianco_txt: #fff;
$nero_txt: #000;